In [232]:
import pandas as pd
import numpy as np

my_arr = {'Name' : ['Ammar', 'Mohsin', 'Muzamil', 'Meezan'],
'Department' : ['Computer Science', 'Bsc', 'SEO', 'Social Science']}

my_arr = pd.DataFrame(my_arr)
print(my_arr)

print(my_arr.iloc[0, :])

      Name        Department
0    Ammar  Computer Science
1   Mohsin               Bsc
2  Muzamil               SEO
3   Meezan    Social Science
Name                     Ammar
Department    Computer Science
Name: 0, dtype: object

In [233]:
calories = {'day1' : [420, 890], 'day2' : [500, 670], 'day3' : [1000, 1390]}
calories_pd = pd.Series(calories)
# With Series there are no indices shown (in case of dict) in the table, also the data is shown in series 
print(f"Printing calories dataset as Series\n{calories_pd}") 

print(f"calories.shape(): {calories_pd.shape}")

calories_pd = pd.DataFrame(calories)
print(f"\nPrinting calories dataset as Datafram\n{calories_pd}\n");

print(f"{calories_pd['day1']}\n")

print(f"{type(calories_pd['day2'].values)}") # .values returns a numpy array

Printing calories dataset as Series
day1      [420, 890]
day2      [500, 670]
day3    [1000, 1390]
dtype: object
calories.shape(): (3,)

Printing calories dataset as Datafram
   day1  day2  day3
0   420   500  1000
1   890   670  1390

0    420
1    890
Name: day1, dtype: int64

<class 'numpy.ndarray'>

In [234]:
iris_ds = pd.read_csv("D:\\University Documents\\Assignments\\6th Semester\\Artificial Intelligence\\Datasets\\iris.csv")
print(f"IRIS DATASET\n{iris_ds}");

IRIS DATASET
     sepal.length  sepal.width  petal.length  petal.width    variety
0             NaN          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8        NaN

[150 rows x 5 columns]

In [235]:
print(iris_ds.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  149 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       149 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [237]:
print(iris_ds.isnull().sum().values)
key_values = dict(iris_ds.isnull().sum())

for key, value in key_values.items():
    if value == 1:
        iris_ds = iris_ds.drop(key, 0)

print(iris_ds.tail())

[0 0 0]
     sepal.width  petal.length  petal.width
145          3.0           5.2          2.3
146          2.5           5.0          1.9
147          3.0           5.2          2.0
148          3.4           5.4          2.3
149          3.0           5.1          1.8

In [247]:
cars_ds = {
    'cars' : ['BMW', 'Ford', 'Tesla'],
    'year' : ['2012', '2010', '2009']
}

cars_df = pd.Series(cars_ds)
print(cars_df[0])

['BMW', 'Ford', 'Tesla']

In [250]:
cars_df = pd.DataFrame(cars_ds)
cars_df

    cars  year
0    BMW  2012
1   Ford  2010
2  Tesla  2009

In [263]:
# Series:

my_arr = np.array([1*10, 2*20, 3*30, 4*40], dtype='i')
# list_indices = list()
list_names =['Ammar', 'Manaf', 'Naveed', 'Haseeb']

# for i in range(0, len(my_arr)):
#     list_indices.append(list_names[i])

arr_sr = pd.Series(my_arr, index=list_names)
arr_sr

arr_sr['Manaf']

40

In [272]:
# Dataframe

std_info = {
    'std_name' : ['Ammar', 'Haseeb', 'Manaf', 'Naveed'],
    'Age': [20, 20, 21, 22],
    'Address': ['Shikarpur', 'Karachi', 'Halani', 'Larkana']}

std_ds = pd.DataFrame(std_info)
std_ds.loc[0].values[0]

std_ds.loc[[0, 1]] # returns a entire new dataframe containing the specified rows

  std_name  Age    Address
0    Ammar   20  Shikarpur
1   Haseeb   20    Karachi

In [273]:
iris_ds = pd.read_csv("D:\\University Documents\\Assignments\\6th Semester\\Artificial Intelligence\\Datasets\\iris.csv")
iris_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  149 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       149 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB